body, html {
    height: 100%;
    font-family: sans-serif;
    background: #333;
    background-color: #2c2c2c;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
}

.container {
    max-width: 800px;
    min-width: 500px;
    padding: 20px;
    margin: auto; /* Center the container */
    background-color: #afafaf;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1, h2, h3, h4, h5, h6 {
    color: #333;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center form items */
    gap: 20px;
}

input[type=text], select, textarea {
    width: 90%; /* Adjust the width as needed */
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit], button {
    width: auto; /* Change from 100% to auto */
    background-color: #007bff;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    /* Add auto margins to center the button */
    display: block; /* Change display to block for margin auto to work */
    margin-left: auto;
    margin-right: auto;
}

input[type=submit]:hover, button:hover {
    background-color: #0056b3;
}

.custom-delete-btn {
    padding: .25rem .5rem;
    font-size: .875rem;
}

.default-cover {
    width: 25%; /* Adjust this value based on the actual size of your images */
    height: auto; /* This ensures the height adjusts to maintain the aspect ratio */
    display: block; /* Ensures the image is a block-level element */
    margin: 0 auto; /* Centers the image horizontally within its container */
}
