<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Finder</title>
    <!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/tailwind.css')}}">
    {% endblock %}
</head>
<body class="bg-gradient-to-tr from-gray-900
to-purple-400 text-white bg-fixed">
  <img src="https://images.pexels.com/photos/2957860/pexels-photo-2957860.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="w-full h-full object-cover absolute mix-blend-overlay pointer-events-none bg-fixed">
    <nav class="fixed top-0 left-0 h-screen w-40 m-0 
    flex flex-col justify-center
    bg-gradient-to-bl from-purple-900/25
    to-gray-900/75 text-white shadow-lg
    bg-opacity-50
     z-20">
      <a href="/"><i class="fas fa-book fa-lg p-10 sidebar-icon"></i></a>
      <a href="/about"><i class="fas fa-info fa-lg p-10 sidebar-icon"></i></a>
      <a href="/profile"><i class="fas fa-user fa-lg p-10 sidebar-icon"></i></a>
    </nav>
    <div id="content" class="z-10 relative">
      {% block content %}
      <!-- Your page content here -->
      {% endblock %}
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.0/js/bootstrap.bundle.min.js"></script> -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script> 
</body>
</html>