{% extends 'base.html' %}

{% block content %}
<div class="book-details container">
    <h1>{{ book.title }}</h1>
    
    {% if book.get('covers') %}
        <img src="https://covers.openlibrary.org/b/id/{{ book.covers[0] }}-L.jpg" alt="Cover of {{ book.title }}">
    {% else %}
        <img src="{{ url_for('static', filename='images/Default_Cover.jpg') }}" alt="Default cover" class="default-cover">
    {% endif %}
    <!-- <h2>By {{ author_name }}</h2> -->
    <p>{{ description|safe }}</p>

    {% if book_description %}
        <p>{{ book_description }}</p>
    {% endif %}
    <button onclick="window.history.back()" class="btn btn-outline-secondary">Return</button>
</div>
{% endblock %}
