{% extends 'base.html' %}

{% block body_class %}onboarding{% endblock %}

{% block content %}
<div class="flex flex-col justify-center items-center h-screen">
  <div class="max-w-md w-full space-y-8 bg-gradient-to-r from-indigo-900/75 via-gray-500/50 to-indigo-900/75 p-10 rounded-lg">
    <h2 class="text-center text-3xl font-extrabold text-5xl text-transparent bg-clip-text bg-gradient-to-r to-emerald-100 from-purple-300">Welcome.</h2>

    <form method="POST" id="user_form" class="space-y-6">
      {{ form.hidden_tag() }}

      {% for field in form if field.widget.input_type != 'hidden' %}
        <div>
          {% for error in field.errors %}
            <span class="text-red-500 text-sm">{{ error }}</span>
          {% endfor %}
          {{ field(class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light", placeholder=field.label.text) }}
        </div>
      {% endfor %}

      <div class="flex flex-col items-center w-full">
        <button type="submit" class="group relative w-full flex justify-center py-2 px-4 border-transparent text-sm font-medium rounded-md text-white bg-gradient-to-r from-purple-500 via-purple-600 to-purple-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-purple-300 dark:focus:ring-purple-800 shadow-lg shadow-purple-500/50 dark:shadow-lg dark:shadow-purple-800/80">
          Log in
        </button>
        <!-- Link styled as a button -->
        <a href="/signup" class="text-white bg-gradient-to-r from-purple-500 via-purple-600 to-purple-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-purple-300 dark:focus:ring-purple-800 shadow-lg shadow-purple-500/50 dark:shadow-lg dark:shadow-purple-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 mt-4">
          New User?
        </a>
      </div>
    </form>
  </div>
</div>
{% endblock %}

